.nav-btn{
    height: 4rem;
    align-items: center;
    background-color: transparent;
    margin-top: 3rem;
    border: none;
    @include responsive(tab-land){
        width: 5rem;
        height: 5rem;
        margin: 1rem 2rem; 
    } 
    @include responsive(mini-phone){
        width: 4rem;
        height: 4rem;
        margin: 0.5rem 1rem; 
    } 

    &__icon{
        position: relative;
        &,
        &::before,
        &::after{
            width: 4.5rem;
            height: 2px;
            background-color: #ffffff;
            display: inline-block;
            @include responsive(mini-phone){
                width: 3rem;
               
            } 
        }
        &::before,
        &::after{
            content: '';
            position: absolute;
            left: 0;
        } 
        &::before{
            top: -1.2rem;
        }
        &::after{
            top: 1.2rem;
        }
    }
}
.btn{
    background-color: $color-secondary;
    padding: 1.5rem 3.5rem;
    border: none;
    color: $color-white;
    cursor: pointer;
    display: block;
    @include responsive(phone){
        padding: 1.5rem 2.5rem;
        font-size: $spacing-xs;
    } 
    @include responsive(mini-phone){
        padding: 1.5rem 2rem;
        font-size: $spacing-xs;
    }

    &__heading{
        text-align: left;
        margin-top: 2rem;
        margin-bottom: 7rem;
    }
    &:hover{
        background-color: $color-secondary-dark;
    }
}