.feature-box{
    display: flex;
    align-items: start;
    &__icon{   
        height: 5rem;
        width: 15rem;
        margin-right: 1.5rem;
        fill: $color-secondary;
        @include responsive(tab-por){
            height: 4rem;
            width: 12rem;
            margin-right: 1rem;
        } 
    }
    &__text{
        padding-top: 1.2rem;
        @include responsive(tab-por){
            padding-top: 1rem;
        } 
        
    }
    &__title{
        font-size: 1.8rem;
        color: $color-dark-gray;
        margin-bottom: 1rem;
        @include responsive(tab-por){
            font-size: $spacing-xs1;
        } 
    }
    &__paragragh{
        font-size: 1.8rem;
        color: $color-gray;
        @include responsive(tab-por){
            font-size: $spacing-xs1;
        } 
    }
}