.story{
    background-image: linear-gradient(45deg, rgba($color-secondary-dark,0.5) , rgba($color-secondary-light,0.5)), url(/img/back.jpg);
    background-position: left;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
  
    &__image-1{
        width: 50rem;
        box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        @include responsive(tab-land){
            width: 40rem;
            top: 55%;
            left: 50%; 
        } 
        @include responsive(tab-por){
            width: 40rem;
            top: 25%;
            left: 30%;
            transform: translate(-50%, -20%);
        } 
        @include responsive(phone){
            width: 35rem;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -20%);       
        }
        @include responsive(mini-phone){
            width: 25rem;
            top: 30%;
            left: 40%;
            transform: translate(-50%, -20%);       
        }
    }
    &__image-2{
        width: 40rem;
        box-shadow: 0 2rem 5rem rgba(0,0,0,0.06);
        position: absolute;
        top: 50%;
        left: 50%; 
        @include responsive(tab-land){
            width: 35rem;
            top: 55%;
            left: 50%; 
        } 
        @include responsive(tab-por){
            width: 35rem;
            top: 50%;
            left: 65%;
            transform: translate(-50%, -50%);  
        } 
        @include responsive(phone){
            width: 25rem;
            top: 50%;
            left: 70%;
        } 
        @include responsive(mini-phone){
            width: 18rem;
            top: 50%;
            left: 70%;
        } 
    }
}